## This notebook performs the data preparation for a common regression dataset, although the resulting regression models, and therefore this data, was not used in the final comparisons

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
# This is a kaggle dataset - https://www.kaggle.com/sohier/calcofi
# unzip bottle.csv.zip
df_org = pd.read_csv('../../data/bottle.csv')
# print(df)

/usr/local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (47,73) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df_org.shape

(864863, 74)

In [4]:
df_org.head(10)

,Cst_Cnt,Btl_Cnt,Sta_ID,Depth_ID,Depthm,T_degC,Salnty,O2ml_L,STheta,O2Sat,...,R_PHAEO,R_PRES,R_SAMP,DIC1,DIC2,TA1,TA2,pH2,pH1,DIC Quality Comment
0,1,1,054.0 056.0,19-4903CR-HY-060-0930-05400560-0000A-3,0,10.50,33.440,NaN,25.649,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,054.0 056.0,19-4903CR-HY-060-0930-05400560-0008A-3,8,10.46,33.440,NaN,25.656,NaN,...,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,054.0 056.0,19-4903CR-HY-060-0930-05400560-0010A-7,10,10.46,33.437,NaN,25.654,NaN,...,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,4,054.0 056.0,19-4903CR-HY-060-0930-05400560-0019A-3,19,10.45,33.420,NaN,25.643,NaN,...,NaN,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,054.0 056.0,19-4903CR-HY-060-0930-05400560-0020A-7,20,10.45,33.421,NaN,25.643,NaN,...,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,6,054.0 056.0,19-4903CR-HY-060-0930-05400560-0030A-7,30,10.45,33.431,NaN,25.651,NaN,...,NaN,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,7,054.0 056.0,19-4903CR-HY-060-0930-05400560-0039A-3,39,10.45,33.440,NaN,25.658,NaN,...,NaN,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1,8,054.0 056.0,19-4903CR-HY-060-0930-05400560-0050A-7,50,10.24,33.424,NaN,25.682,NaN,...,NaN,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1,9,054.0 056.0,19-4903CR-HY-060-0930-05400560-0058A-3,58,10.06,33.420,NaN,25.710,NaN,...,NaN,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,10,054.0 056.0,19-4903CR-HY-060-0930-05400560-0075A-7,75,9.86,33.494,NaN,25.801,NaN,...,NaN,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df = pd.DataFrame(df_org[['Depthm', 'Salnty', 'T_degC']])

In [6]:
(df.isnull().sum()/len(df))*100

Depthm    0.000000
Salnty    5.475318
T_degC    1.267600
dtype: float64

In [7]:
# with this much data, we'll drop any rows with missing data
df.dropna(inplace=True)

In [8]:
# Scale these features
x_scaler = StandardScaler()
df[['Depthm', 'Salnty']] = x_scaler.fit_transform(df[['Depthm', 'Salnty']])

In [9]:
df.head(10)

     Depthm    Salnty  T_degC
0 -0.719040 -0.869381   10.50
1 -0.693121 -0.869381   10.46
2 -0.686641 -0.875879   10.46
3 -0.657483 -0.912705   10.45
4 -0.654243 -0.910539   10.45
5 -0.621844 -0.888877   10.45
6 -0.592686 -0.869381   10.45
7 -0.557048 -0.904040   10.24
8 -0.531129 -0.912705   10.06
9 -0.476052 -0.752405    9.86

In [10]:
df.shape

(814247, 3)

In [11]:
df.columns

Index(['Depthm', 'Salnty', 'T_degC'], dtype='object')

In [12]:
df.rename(columns={'T_degC':'temp', 'Salnty':'salinity', 'Depthm':'depth'}, inplace=True)

In [13]:
print(len(df.columns))

3

In [14]:
df.columns

Index(['depth', 'salinity', 'temp'], dtype='object')

In [15]:
# df.to_csv('../../data/cleanedBottle.csv', index=False, header=False)
df.to_csv('../../data/cleanedBottle.csv', index=False)