## This notebook prepares the data for the Clustering notebooks

In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import make_blobs

In [2]:
X, y = make_blobs(n_samples=6000000, centers=6, n_features=5, random_state=0)

In [3]:
print(X.shape)

(6000000, 5)

In [4]:
print(X[0])

[ 5.70545983 -0.10453034  1.56374923  8.0281032  -9.29666176]

In [5]:
df = pd.DataFrame({'Feature1': X[:, 0], 'Feature2': X[:, 1], 'Feature3': X[:, 2], 
                   'Feature4': X[:, 3], 'Feature5': X[:, 4], 'Cluster': y})

In [6]:
df.head(5)

   Feature1   Feature2  Feature3  Feature4  Feature5  Cluster
0  5.705460  -0.104530  1.563749  8.028103 -9.296662        2
1  3.362023 -10.303742  9.475254 -0.033640 -3.061020        5
2  0.460199   3.521068  1.907463  0.611037 -2.229633        0
3  0.838410   5.827875  1.659711  1.509717  0.325622        0
4  3.880222   0.473111  8.680497  8.439839 -3.487391        1

In [7]:
# This generates a very large dataset
df.to_csv('data/gaussianBlobs.csv', index=False)